@font-face {
    font-family: BebasNeue;
    src: url('../fonts/BebasNeue Bold.otf');
}

@font-face {
    font-family: BebasNeueThin;
    src: url('../fonts/BebasNeue Regular.otf');
}

body {
    font-family: BebasNeue !important;
}
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}
.thin{
    font-family: BebasNeueThin !important;

}
@media (max-width: 576px){
.text-xs-center {
    text-align: center!important;
}
}
.img {
    display: inline-block;
}
.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }
br {
    display: block;
    margin: 10px 0 !important;
}
#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}
.thin-white{
    font-family: BebasNeueThin !important;
    color:#ffffff;
    font-size: .9rem;
}
.thin-white-h3{
    font-family: BebasNeueThin !important;
    color:#ffffff;
    font-size: 1.3rem;
}
.aerial{
    font-family: Arial !important;
    color:#646464;
    font-size: .9rem;
    font-height: 10;
}
.aerial-white{
    font-family: Arial !important;
    color:#ffffff;
    font-size: .9rem;
    font-weight: 500;
}
.carousel-inner{
    width:100%;
    max-height: 500px !important;
}
.carousel-inner-custom{
    width:100%;
    max-height: 400px !important;
}
.headercustom{
    background-color: #00b8d9;
    color: #ffffff !important;
}
.btn-light{
    color : #00b8d9 !important;
}
.logo{
    width:150px;
    height:auto;
}
.bendera{
    width:25px;
    height:auto;
}
.menu-link{
    padding : 8px 25px 8px 25px !important;
}
.blueinfo{
   color: #00b8d9 !important;
}
.border-left{
    border-width: 3px !important;
    border-color: white;
}
.border-right{
    border-width: 3px !important;
    border-color: white;
}

.logo-margin{
    margin-left:25%;
    margin-right:auto;
}
.navbarcustom{
    margin-left:auto;
    margin-right:50%;
}
.bahasa{
    font-size: 1rem !important;
}
a{
    color: #ffffff !important;
}
.backgrounds {
    background-image: url('../images/bg.jpg');
    padding-top: 15px;
    background-repeat: no-repeat;
}
.slider{
    -webkit-clip-path: polygon(11% 0, 100% 0, 100% 100%, 27% 100%);
    clip-path: polygon(11% 0, 100% 0, 100% 100%, 27% 100%);
}
#carousel{
    position: relative;
}

.overlay:before{
    content:"";
    background: url("../images/background.png");
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 500px;
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}
.carousel-custom:before{
    content:"";
    background-color: #0088c1!important;
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    transform: skew(200.25deg);
    left:50%;
    height: 400px;
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
}

.carousel-caption-custom {
    position: absolute;
    right: 0%;
    bottom: 20px;
    left: 20%;
    bottom:10%;
    z-index: 15;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: justify;
}
.carousel-caption-custom-m {
    position: absolute;
    right: 10%;
    bottom: 20px;
    bottom:10%;
    z-index: 15;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: justify;
    background-color:rgba(0, 0, 0, 0.5);
}
.carousel-caption-custom-2 {
    position: absolute;
    right: 0%;
    bottom: 20px;
    left: 60%;
    bottom:25%;
    z-index: 15;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: justify;

}
.our-services{
    font-size: 3.8rem;
}
.user-guides{
    font-size: 1.9rem
}
.download{
    font-size: 2.5rem;
    color:white;
}
.captionf{
    margin-bottom: 0px !important;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    left:50%;
}
.moreinfo-caption{
    text-align: right;
    margin-left:13%;
    color:#0088c1 !important;
    border-radius: 0%;
    font-size: 1rem;
}
.moreinfo-caption-m{
    text-align: right;
    color:#0088c1 !important;
    border-radius: 0%;
    font-size: 1rem;
}
.moreinfo-aboutus{
    text-align: right;
    margin-left:13%;
    color: #ffffff !important;
    background-color: #0088c1 !important;
    border-radius: 0%;
    font-size: 1rem;
}
.nulled{
    height:3rem;

}
.nulled-guide{
    height:2rem;

}
.border-dotted-bottom{
    border-bottom: dotted #c1c1c1;
    border-bottom-width: 1px;

}
.border-dotted-top{
    border-top: dotted #c1c1c1;
    border-top-width: 1px;

}
#download{
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}
.logodownload{
    max-width:120px;
}
#usermanual{
    background-color: #0088c1;
    background-size:inherit;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.hand{
    width:100%;
}
.quick{
    line-height: 1.0 !important;
}
.panah{
    width:.8rem;

}
#footer{
    background-color: #00b8d9;
    background-size:cover;
}
#footer2{
    background-color: #707070;
    background-size:cover;
}
.str{
    width:100%;
    max-height:500px;
}
.str2{
    width:100%;
    max-height:400px;
}
